Repository mercadolibre/mobile-dependencies_whitelist, pull requests merged in 2024-11, with the labels that each got.

#3018 Add realtime native libs and remove rtc-mobile with Ktor
  android-whitelist.json
  cross-kmp-allowlist.json
  ios-whitelist.json
Labels: Android-iOS

#3027 [Selling Framework] Allow SF library version 5.+
  android-whitelist.json
Labels: Android

#3026 [FEATURE] Allow startup dependency from intro screen
  ios-whitelist.json
Labels: iOS

#3022 Scanner expire dates modified
  android-whitelist.json
Labels: Android, Done

#3028 Added contacts lib into whitelist
  android-whitelist.json
Labels: Android, Done

#3033 Update Datadog
  ios-whitelist.json
Labels: Verified, iOS

#3035 Update canvas to 3.+
  android-whitelist.json
Labels: Android

#3038 Bump cash_rails to 15
  android-whitelist.json
Labels: Verified, Android

#3040 Location lib added
  android-whitelist.json
Labels: Android, Done

#3045 Agregar mpoc a granular projects de la libreria dynamic_features
  android-whitelist.json
Labels: Verified, Android

#3042 Add securityConfig module
  android-whitelist.json
Labels: Verified, Android

#3046 Add new library IspTtp.
  ios-whitelist.json
Labels: Verified, iOS

#3039 [VERTICALES-1381] add rabbit hole versions
  android-whitelist.json
Labels: Verified, Android-iOS

#3049 [NO-TICKET] Fix package name for contactless - Mpos
  android-whitelist.json
Labels: Verified

#3047 New version home and industries
  android-whitelist.json
Labels: Verified, Android

#3048 Remove AndesUIDraftModal
  ios-whitelist.json
Labels: Verified, iOS

#3053 EventBus expiration date changed because of a freez
  android-whitelist.json
Labels: Verified, Android

#3054 Bump app theme
  android-whitelist.json
Labels: Verified, Android

#3055 App theme granularity
  android-whitelist.json
Labels: Verified, Android

#3057 Update version VPP/QABD
  android-whitelist.json
Labels: Android

#3020 Add Crab DI (Koin wrapper)
  android-whitelist.json
Labels: Android

#3059 Add MLLocation to CrabDI's allowed granular projects
  ios-whitelist.json
Labels: Verified, iOS

#3061 Add new library TTE.
  ios-whitelist.json
Labels: Verified, iOS

#3029 Added exp date for analytics dependency on both iOS and Android.
  android-whitelist.json
  ios-whitelist.json
Labels: Verified, Android-iOS

#3065 Add PersonValidation to TensorFlowLiteSwift
  ios-whitelist.json
Labels: Verified, iOS

#3068 Add CameraView to person validation
  android-whitelist.json
Labels: Android

#3069 [CHANGED] Adding new version to multiwidget android
  android-whitelist.json
Labels: Verified, Android

#3066 Add Webkit to compose and swiftUI granular projects
  android-whitelist.json
  ios-whitelist.json
Labels: Verified, Android-iOS

#3074 add SecureInputs 2.0 and add expire date to version 1.0
  ios-whitelist.json
Labels: Verified, iOS

#3071 Update TwilioVoice to 6.12.0
  ios-whitelist.json
Labels: Verified, iOS

#3075 Add HomeWallet granular AppTheme
  ios-whitelist.json
Labels: Verified, iOS

#3072 add Everest Canvas Animation to lottie granularity - iOS
  ios-whitelist.json
Labels: Verified, iOS

#3073 Added correct group Id for Mpos library
  android-whitelist.json
Labels: Android

#3081 [CCAP] Feat: Rename package in TTE granular project
  android-whitelist.json
Labels: Verified

#3082 [CHO] Feat: new version rule engine.
  ios-whitelist.json
Labels: Verified, iOS

#3083 Update transfers_components
  android-whitelist.json
Labels: Verified, Android
