Repository mercadolibre/mobile-dependencies_whitelist, pull requests merged in 2024-08, with the labels that each got.

#2746 bump dev-mode lib
  android-whitelist.json
Labels: DONE

#2755 Bump major from pendings to 5
  android-whitelist.json
Labels: DONE

#2761 add MpGadgets in ios-whitelist.json
  ios-whitelist.json
Labels: DONE

#2759 Bump restclient 27
  android-whitelist.json
Labels: DONE

#2750 Add MoreLikeThis libs to whitelist
  android-whitelist.json
  ios-whitelist.json
Labels: DONE

#2768 fix play-services-vision
  android-whitelist.json
Labels: DONE

#2762 Add home & industries lib Android and iOS
  android-whitelist.json
  ios-whitelist.json
Labels: DONE

#2771 Bump uiComponents 19.+ and maps 11.+
  android-whitelist.json
Labels: DONE

#2760 Add BitmovinAnalyticsCollector for Mplay
  ios-whitelist.json
Labels: iOS

#2774 Update android-whitelist.json
  android-whitelist.json
Labels: DONE, Android

#2776 Update horizontal cards and gadgets version
  ios-whitelist.json
Labels: DONE, iOS

#2756 Add library app-theme
  android-whitelist.json
  ios-whitelist.json
Labels: CaseReview

#2781 Update android-whitelist.json
  android-whitelist.json
Labels: DONE

#2788 [NO-TICKET] Update CcapSDUI to 1.X.X
  ios-whitelist.json
Labels: DONE

#2779 Updated twilio voice sdk
  android-whitelist.json
Labels: Android

#2787 Change the subspec to fix the granular
  ios-whitelist.json
Labels: DONE, iOS

#2753 [PR] Added support of zxing using granularity for internal SmartPOS repository
  android-whitelist.json
Labels: DONE

#2783 Add polycards Android version
  android-whitelist.json
Labels: DONE, Android

#2772 Update reglas granularidad lib externas
  ios-whitelist.json
Labels: DONE, iOS

#2782 Add datetime KMP
  cross-kmp-allowlist.json
Labels: DONE

#2796 Update MLBiometricSecurity granularidad
  ios-whitelist.json
Labels: DONE, iOS

#2801 [ISQRM-590]Bump Instore libs
  android-whitelist.json
Labels: DONE, Android

#2802 Add Selling Framework as granular dependency for MPDynamicSkeleton
  ios-whitelist.json
Labels: DONE, iOS

#2800 [Feature] Updates usdk to version 6.6.71
  android-whitelist.json
Labels: DONE, Android

#2793 add granularity odr to AppTheme
  android-whitelist.json
  ios-whitelist.json
Labels: Android-iOS

#2797 [Selling Framework] Update SF library and add expires the old version.
  android-whitelist.json
Labels: DONE, Android

#2803 Fix/temp camera view
  android-whitelist.json
Labels: Android

#2805 Major libs tetris version 2.+
  android-whitelist.json
Labels: Android

#2808 Update granularidad TwilioVoice
  ios-whitelist.json
Labels: DONE, iOS

#2809 Update granularidad MLRemedy y DiscountCenter
  ios-whitelist.json
Labels: DONE, iOS

#2792 update MLThreeDS
  ios-whitelist.json
Labels: DONE, iOS

#2816 Added Search project to Coil Compose allowlist
  android-whitelist.json
Labels: Android

#2823 Updated ios-whitelist.json for PxTokenization
  ios-whitelist.json
Labels: DONE, iOS

#2811 Added PW to pure layout's list
  ios-whitelist.json
Labels: DONE, iOS

#2825 Enable CI checks for KMP
  .circleci/config.yml
  cross-kmp-allowlist.json
Labels: DONE, KMP

#2828 Update AppMonitoring Modules
  android-whitelist.json
Labels: DONE, Android

#2791 Add Everest Canvas :D
  android-whitelist.json
  ios-whitelist.json
Labels: DONE, Android, iOS

#2820 Add granularity to external libs v002 (fresco)
  android-whitelist.json
Labels: DONE, Android

#2819 Add granularity to external libs v001 (bugsnag, applinks, fb-android-sdk)
  android-whitelist.json
Labels: DONE, Android

#2821 Add granularity to external libs v003 (libsodium, play-services Varias, integrity)
  android-whitelist.json
Labels: DONE, Android

#2827 [Added] Add Multiwidget library to iOS whitelist
  ios-whitelist.json
Labels: DONE, iOS

#2833 [ADDED] Horizontal Cards to whitelist
  android-whitelist.json
  ios-whitelist.json
Labels: DONE, Android-iOS

#2836 Feature/fix wrong dependencies
  android-whitelist.json
Labels: DONE

#2832 Add shorts to granular projects for nav manager
  android-whitelist.json
Labels: DONE, Android

#2830 Add MorelikeThis to iOS whitelist && More projects for VerticalsCore
  ios-whitelist.json
Labels: DONE, iOS

#2831 Bump up Devices SDK v8
  android-whitelist.json
Labels: DONE, Android
