Repository mercadolibre/mobile-dependencies_whitelist, pull requests merged in 2024-10, with the labels that each got.

#2925 [ADDED] Transfers Components Offlinefirst module
  android-whitelist.json
Labels: DONE, Android

#2937 [Feature] Add Search to Compose dependencies
  android-whitelist.json
Labels: DONE, Android

#2950 Removed teams from granular dependencies
  android-whitelist.json
Labels: DONE, Android

#2953 [HomeWallet] Added widgets module from mp_search
  android-whitelist.json
Labels: DONE, Android

#2945 Update firebase perf expire
  android-whitelist.json
Labels: DONE, Android

#2949 [Feature] Added money-out to Jetpack Compose granular dependencies
  android-whitelist.json
Labels: DONE, Android

#2952 Add IA Assistant to room granular dep allowed
  android-whitelist.json
Labels: DONE, Android

#2911 Add new MLT dependency definition
  android-whitelist.json
Labels: Android

#2956 Add StartupInitializerConfig lib
  ios-whitelist.json
Labels: DONE

#2958 Downgrade MLMap version
  ios-whitelist.json
Labels: DONE, iOS

#2959 Postpone MLT expiration to 28th of October
  android-whitelist.json
Labels: DONE, Android

#2940 Bump constraint-layout minor version
  android-whitelist.json
Labels: DONE, Android

#2960 Update expiration rx java libs
  android-whitelist.json
Labels: DONE, Android

#2962 Add FujiDi to supported project using CrabDI
  ios-whitelist.json
Labels: DONE, iOS

#2963 ml-scanner-android flavors changed
  android-whitelist.json
Labels: DONE, Android

#2969 Prepapp Granular projects config
  android-whitelist.json
Labels: DONE

#2971 Prepapp Granular projects config - II
  android-whitelist.json
Labels: DONE, Android

#2973 Remove MpGadgets
  ios-whitelist.json
Labels: DONE, iOS

#2970 [VERTICALES-438] - Upgrade modiface dependency ios
  ios-whitelist.json
Labels: DONE, iOS

#2978 Se agrega la lib engagement-component a la lista de granularidad de lottie IOS
  ios-whitelist.json
Labels: DONE, iOS

#2975 Added mercadopago-login on startup commons
  android-whitelist.json
Labels: Android

#2968 Engagement-component lib with lottie
  android-whitelist.json
Labels: DONE, Android

#2980 Tables in Readme
  README.md
Labels: Verified

#2979 Url Update
  .github/pull_request_template.md
Labels: Verified

#2955 [ISPMPOS-3050] added lib zdfend to whitelist
  android-whitelist.json
Labels: CaseReview, Android

#2982 Added IspMpos to iOS whitelist
  ios-whitelist.json
Labels: Verified, iOS

#2976 Se agrega la lib de BuyingflowShipping a la whitelist de iOS
  ios-whitelist.json
Labels: Verified, iOS

#2983 Library dependencies for Mpoc - contactless
  android-whitelist.json
Labels: Android

#2981 [ADDED] New version Transfers Components Modules
  android-whitelist.json
Labels: Verified, Android

#2961 Add bouncy castle dependency for mpoc in house
  android-whitelist.json
Labels: Android

#2985 [feature] update ff versions
  android-whitelist.json
Labels: Verified, Android

#2972 added: cashin to places granular project
  android-whitelist.json
Labels: Verified, Android

#2988 Add EverestCanvas Core subspec iOS
  ios-whitelist.json
Labels: Verified, iOS

#2977 Add canvas android
  android-whitelist.json
Labels: ChangesRequested, Android

#2984 Se agrega la lib de BuyingflowShipping a la whitelist de Android
  android-whitelist.json
Labels: Android

#2942 Bump ktor - KMP
  cross-kmp-allowlist.json
Labels: CaseReview, KMP

#2992 [SMARTI-1699] add support to version 3 to native Sdk Integrations
  android-whitelist.json
Labels: Android

#2995 Added flux client to granular dependencies
  android-whitelist.json
Labels: Verified, Android

#2994 Update Search and Polycards versions
  android-whitelist.json
Labels: Android

#2999 [ADDED][DATX1-2061] Added transferscheckout project to granular projects for transfers_components modules
  android-whitelist.json
Labels: Verified, Android

#2998 Added flux client to firebase-core
  android-whitelist.json
Labels: Verified, Android

#3008 Update polycard 1.x iOS
  ios-whitelist.json
Labels: Verified, iOS

#2894 Change used libs list in arMeasures project
  android-whitelist.json
Labels: ChangesRequested, Android

#3005 Add RTC
  android-whitelist.json
  ios-whitelist.json
Labels: Android, iOS

#3010 Updated digital accounts components version
  android-whitelist.json
Labels: Verified, Android

#3006 Add "transitivity: false" to Koin dependencies
  android-whitelist.json
Labels: Verified, Android

#3001 Add HomeIndustries to VerticalsCore granular dependency
  ios-whitelist.json
Labels: iOS, Done

#3009 Update MLSearch SwiftUI
  ios-whitelist.json
Labels: CaseReview, iOS

#3015 Update Ar Measures libs modules
  android-whitelist.json
Labels: Verified, Android

#3016 Removed Livecommerce library.
  ios-whitelist.json
Labels: Verified, iOS
