Repository mercadolibre/mobile-dependencies_whitelist, pull requests merged in 2024-12, with the labels that each got.

#3076 Add to cart ios granular dependecy
  ios-whitelist.json
Labels: iOS

#3079 Template Upgrade
  .github/pull_request_template.md
Labels: Done

#3089 added EverestCanvas to AppTheme granularity - iOS
  ios-whitelist.json
Labels: Verified, iOS

#3084 [ALL][FIX][ISPMPOS-3409] - Remove UIImage-ResizeMagick due lack of use for IspMpos
  ios-whitelist.json
Labels: iOS

#3085 Added v4.+ in the whitelist to integration SDK
  android-whitelist.json
Labels: Android, Done

#3090 Add expire date to ML UI - Android
  android-whitelist.json
Labels: Android, Done

#3092 Add AccountRelationships granular dependency
  ios-whitelist.json
Labels: iOS, Done

#3096 Added EverestCanvas to AppTheme granularity - Android
  android-whitelist.json
Labels: Verified, Android

#3097 Enabled AdvancedDebugger for SwiftUI
  ios-whitelist.json
Labels: Verified, iOS

#3095 Enable declarative for Advanced Debugger on Android.
  android-whitelist.json
Labels: ChangesRequested

#3094 [SMART-8209] Include IPC connection library
  android-whitelist.json
Labels: CaseReview

#3103 Add TransfersComponents to granular SwiftUI
  ios-whitelist.json
Labels: Verified, iOS

#3102 Bump cashin to 25.+
  android-whitelist.json
Labels: Verified, Android

#3099 Update twilio voice
  android-whitelist.json
Labels: Android, Done

#3104 Added deprecated date and description for Fresco, Picasso and PINRemote - Android/iOS
  android-whitelist.json
  ios-whitelist.json
Labels: CaseReview, Android-iOS, Done

#3108 Added livedata-runtime compose
  android-whitelist.json
Labels: Verified, Android

#3110 [Cashout] Bump Cashout to 22.+
  android-whitelist.json
Labels: Verified, Android

#3112 Feature: add account relationships android to cryptography
  android-whitelist.json
Labels: Verified, Android

#3113 [SMART-8336] Include new version ptm toolkit.
  android-whitelist.json
Labels: Verified, Android

#3114 Feature Andesui core added to whitelist
  android-whitelist.json
Labels: Verified, Android

#3107 Added mercadopagologin into Theme granullarity
  android-whitelist.json
Labels: Verified, Android

#3115 Added vpp to granular project for canvas-compose
  android-whitelist.json
Labels: Verified, Android

#3116 [CCAP] Feat: Add Flavor to card form and remedy
  android-whitelist.json
Labels: Verified, Android

#3117 Add Cart Manager
  ios-whitelist.json
Labels: Verified, iOS

#3118 Update ios-whitelist.json
  ios-whitelist.json
Labels: Verified, iOS

#3129 [CASH] Added smartpos lib as allow
  android-whitelist.json
Labels: Android, Done

#3125 [Changed] - OMSDK 1.5.2.
  ios-whitelist.json
Labels: Verified, Done

#3126 Update android-whitelist.json for SellingFramework to release/8.0
  android-whitelist.json
Labels: Verified, Android
