Repository mercadolibre/mobile-dependencies_whitelist, pull requests merged in 2024-09, with the labels that each got.

#2842 Bump Cash Version
  android-whitelist.json
Labels: DONE, Android

#2844 Bump DAMI UI Components
  android-whitelist.json
Labels: DONE, Android

#2846 new facebook soloader version
  android-whitelist.json
Labels: DONE

#2848 Change MLT granular dependency for SearchCore subspec
  ios-whitelist.json
Labels: DONE

#2850 Add Soloader warning
  android-whitelist.json
Labels: DONE

#2843 Added FFSDK to iOS whitelist and added Melidata to services
  android-whitelist.json
  ios-whitelist.json
Labels: DONE, Android-iOS

#2840 Bump OkHttp Dns
  android-whitelist.json
Labels: DONE, Android

#2673 [Update] Modiface - add granularity and transitivity
  android-whitelist.json
Labels: DONE, Android, KMP

#2853 Update name module
  android-whitelist.json
Labels: DONE, Android

#2855 Add granularity to external libs v004
  android-whitelist.json
Labels: DONE, Android

#2858 Granularity for DAMI UI
  android-whitelist.json
Labels: DONE, Android

#2860 [T. Definitions] [iOS] [DATD-387] Add new libs
  ios-whitelist.json
Labels: DONE, iOS

#2859 Add CreditsUIComponents to granular dependency of DGCharts
  ios-whitelist.json
Labels: DONE, iOS

#2813 Update android: digital_accounts_components
  android-whitelist.json
Labels: WIP, Android

#2857 [ADDED] Added Multiwidget android version
  android-whitelist.json
Labels: CaseReview, Android

#2861 Change MPSearch major to 0
  ios-whitelist.json
Labels: DONE, iOS

#2862 Bump Cash libraries
  android-whitelist.json
Labels: DONE, Android

#2804 Granularity to external libs
  android-whitelist.json
Labels: Android

#2870 Extend cameraview for collaborators
  android-whitelist.json
Labels: CaseReview, Android

#2873 Postpone MLT expiration date to 13th of October 2024
  android-whitelist.json
Labels: DONE, Android

#2875 add granular dependency to moneyout
  android-whitelist.json
Labels: DONE, Android

#2872 Add MLEngagementComponents library
  ios-whitelist.json
Labels: DONE, iOS

#2874 Updated da components version 10 to 11
  android-whitelist.json
Labels: DONE, Android

#2878 Remove transitive Dns
  android-whitelist.json
Labels: DONE

#2887 Change to production demand core
  ios-whitelist.json
Labels: DONE, iOS

#2890 Added tetris-android in allows_granular_projects coil compose
  android-whitelist.json
Labels: DONE

#2891 Add Polycards granular SwiftUI
  ios-whitelist.json
Labels: iOS

#2897 Update granular PureLayout
  ios-whitelist.json
Labels: DONE, iOS

#2896 Add granularity to external libs lote 007
  android-whitelist.json
Labels: DONE

#2901 [MODS-4994]: Allows granular to Security UI
  android-whitelist.json
Labels: Android

#2907 [MODS-4994] Rename-package-allowed
  android-whitelist.json
Labels: DONE, Android

#2903 Bumped tfs-commons-android to 9+
  android-whitelist.json
Labels: DONE, Android

#2902 Add granularity to external libs lote 008
  android-whitelist.json
Labels: DONE, Android

#2909 ml_scanner v12 expire date changed
  android-whitelist.json
Labels: Android

#2904 [Added] udpate omsdk 1.5.0
  ios-whitelist.json
Labels: DONE, iOS

#2876 Adding flow orchestrator - startup commons
  android-whitelist.json
Labels: DONE, Android

#2913 add CrabDI to whitelist
  ios-whitelist.json
Labels: DONE, iOS

#2914 Se granula version de Login para Google GMS recapchat
  android-whitelist.json
Labels: Android

#2917 added expire date to MpGadgets
  ios-whitelist.json
Labels: DONE, iOS

#2916 Add AndesIntegrations granular AppTheme
  ios-whitelist.json
Labels: DONE, iOS

#2918 Add AndesIntegrations granular AppTheme
  ios-whitelist.json
Labels: DONE, iOS

#2883 Add new libs for Canvas Android
  android-whitelist.json
Labels: ChangesRequested, Android

#2920 Corrección en la granulación de Login
  android-whitelist.json
Labels: DONE

#2865 [VERTICALES-437] Upgrade version of Modiface dependency
  android-whitelist.json
Labels: DONE, Android

#2898 Bump play integrity 1.4.0
  android-whitelist.json
Labels: DONE, Android

#2900 Feature/gamification lib
  android-whitelist.json
Labels: ChangesRequested, Android

#2893 Add new library FaceValidation
  android-whitelist.json
Labels: ChangesRequested, Android

#2910 MLKit17 expire dates removed
  android-whitelist.json
Labels: DONE, Android

#2919 Update README.md
  .github/pull_request_template.md
  README.md
Labels: DONE, Android, iOS

#2923 Se agrega home a la lista de granularidad de play-services-mlkit-text…
  android-whitelist.json
Labels: DONE, Android

#2924 Login y Authentication granulado en play-services-mlkit-text-recognitio
  android-whitelist.json
Labels: DONE, Android

#2912 Add Flow Orchestrator to whitelist
  ios-whitelist.json
Labels: DONE, iOS

#2938 [Added] udpate omsdk 1.5.1
  ios-whitelist.json
Labels: DONE, iOS

#2939 Fix granularity
  android-whitelist.json
Labels: DONE, Android
