Repository mercadolibre/mobile-dependencies_whitelist, pull requests merged in 2025-01, with the labels that each got.

#3132 Extend CameraView lib for ReBranding
  android-whitelist.json
Labels: Android

#3122 Update ios-whitelist.json
  ios-whitelist.json
Labels: Verified, iOS

#3105 Template Update - ETA
  .github/pull_request_template.md
Labels: Done

#3130 Add crabdi dependency to mp-gadgets project
  android-whitelist.json
Labels: Verified, Android

#3134 [CASH] Added smartpos lib as allow in cashin
  android-whitelist.json
Labels: Verified, Android

#3135 SpGlobeWrapper update to 2.0.0
  ios-whitelist.json
Labels: Verified, iOS

#3137 Bump IspSf Version to 8.0.0
  ios-whitelist.json
Labels: Verified, iOS

#3139 Bump mp_search major to 3.+
  android-whitelist.json
Labels: Verified, Android

#3136 Feature/Add Melidata SDK to granular project
  android-whitelist.json
Labels: Verified, Android

#3133 [HomeWallet] Bumped toolkit major and added expire date
  android-whitelist.json
Labels: Android

#3140 Update android mpos instore payments majors versions
  android-whitelist.json
Labels: Verified, Android

#3143 Remove PPMagnesWrapper dependency
  ios-whitelist.json
Labels: Verified, iOS

#3144 Adding CcapSDUI as early adopter of Andes/SwiftUI subspec
  ios-whitelist.json
Labels: Verified, iOS

#3111 Update Bitmovin version
  android-whitelist.json
Labels: WIP, Android
